@import url('https://fonts.googleapis.com/css?family=Montserrat|Barlow');


/*font-family:
*/
p {
  
  font-family: "Montserrat", Lato, Tahoma, "Sans-Serif";
  font-size: 10px;
}

h1, h2, h1, h3, h4 {
background-color: #83c4ff;
}


body{
  background-color: #D1DBDB;
}

nav{
  color: #0080db;
  padding: 80px 50px 0px 75px;
}
nav a {
  color: black;
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  background-color: #83c4ff;
  
}


nav a:hover {
  color: #E7C24F;
  background-color: #396E94;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
  background-color: #ffd97a;
}


.logo-box {
 grid-column: auto;
}


.home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1em;
  background-color:  #ffd97a;
}


/* This is placement for headline Header */ 
.headline-river-1 {
  grid-column: 2/ 5;
  grid-row: 2;
  text-align: center;
  
}

.headline-river-2 {
  grid-row: 5;
  grid-column: 2 / 5;
  text-align: center;
  
}

/* This is placement for the Main Pictures */ 
.river1-img {
  grid-column: 3 / 4;
}

.river2-img {
   grid-column: 3 / 4;
   grid-row: 4;
}


/* This is placement for the pictures in River 1*/
.pic1-river-1 {
  grid-row: 3;
  grid-column: 1;
  
}
.pic2-river-1 {
  grid-row: 3;
  grid-column: 3;
  
}
.pic3-river-1 {
  grid-column: 4;
  grid-row: 3;
  
}
.pic4-river-1 {
  grid-row: 3;
  grid-column: 6;
  
}

/* This is placement for the pictures in River 2*/
.pic1-river-2 {
  grid-column: 1;
  grid-row: 6;
  
}
.pic2-river-2 {
  grid-column: 3;
  grid-row: 6;
  
}
.pic3-river-2 {
  grid-column: 4;
  grid-row: 6;
  
}
.pic4-river-2 {
  grid-column: 6;
  grid-row: 6;
  
}
/* This is placement for the Description */

.paragraph-river-1 {
  grid-column: 3;
  grid-row: 2;
}
.paragraph-river-2 {
  grid-column: 3;
  grid-row: 5;
}



/ * This is placement for the Footer */

.footer {
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: 1fr;
 grid-gap: 1em;
 background-color: #83c4ff;
}

/ * This is placement for the Social Icons * / 

.social-container {
  margin: 3px 3px 3px 100px;
  padding: 2px 2px 2px 2px;
}


