@import url('https://fonts.googleapis.com/css?family=Montserrat|Barlow');


/*font-family:
*/
p {
  
  font-family: "Montserrat", Lato, Tahoma, "Sans-Serif";
  font-size: 10px;
}

h1, h2, h1, h3, h4 {
background-color: #83c4ff;
}


body{
  background-color: #D1DBDB;
}

nav{
  color: #0080db;
  padding: 80px 50px 0px 75px;
}
nav a {
  color: black;
}

nav ul {
  list-style: none; /* removes the bullets! */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(6em, 1fr));
  margin: 0;
  background-color: #83c4ff;
  
}


nav a:hover {
  color: #E7C24F;
  background-color: #396E94;
}

header {
  align-items: center;
  display: grid;
  grid-template-columns: 110px auto;
  background-color: #ffd97a;
}
footer {
  grid-column: 1 / 7;
  grid-row: 7 / 9;
}


.logo-box {
 grid-column: auto;
}
